.EEa{
    width: 100%;
    height: 100vh;
    background-color: rgba(113, 113, 113, 0.655);
}

.EEf{
    width: 50%;
    height: 60%;
    margin-left: 20%;
    position: relative;
    top: 5%;
    background-color: rgb(229, 217, 217);
}

.EEi{
    height: 100vh;
    width: 100%;
    position: absolute;
}